<div class="container">
    <h1>{{this.recruiter_name}}'s Home Page</h1>
    <p><button class="mi" [routerLink] = "['/recruiters', this.recruiter_id, 'edit-details']">Edit Details</button></p>
    <table>
        <tr class="c">
          <td colspan="2"><strong class="d">Company ID :</strong> {{this.company.company_id}}</td>
        </tr>
        <tr class="c">
          <td colspan="2"><strong class="d">Company Name :</strong> {{this.company.company_name}}</td>
        </tr>
        <tr class="c">
          <td colspan="2"><strong class="d">Country of Origin :</strong> {{this.company.company_origin}}</td>
        </tr>
    </table>

    <h3><br><br>Other Recruiters</h3>
    <table>
      <tr>
        <td>ID</td>
        <td>Recruiter Name</td>
        <td>Email Address</td>
        <td>Contact No.</td>
    </tr>
      <tr *ngFor="let m of recruiters">
            <td>{{m.recruiter_id}}</td>
            <td>{{m.recruiter_name}}</td>
            <td>{{m.recruiter_email}}</td>
            <td>{{m.recruiter_contact}}</td>
      </tr>
    </table>

    <h3><br><br><br>Created JAFs</h3>
    <table>
      <tr>
        <td>
          JAF ID
        </td>
        <td>Job Role</td>
        <td>Company</td>
        <td>Opened On</td>
        <td>Closing On</td>
      </tr>
      <tr *ngFor="let m of jafs; let i=index">
        <td>{{m.jaf_id}}</td>
        <td><a  [routerLink] = "['/firms/', this.company.company_id, '/jafs/', m.jaf_id, '/view']">{{m.jaf_title}} ({{m.profile_name}})</a></td>
        <td>{{m.company_name}}</td>
        <td>{{m.jaf_opened_on}}</td>
        <td>{{m.jaf_closed_on}}</td>
        
      </tr>
    </table>
    <br>

</div>