<div class="container">
    <h1>{{this.coordinator_name}}'s Home Page</h1>
    <p><button class="mi" [routerLink] = "['/coordinators/', this.coordinator_id, '/edit-details']">Edit Personal Info</button> <button class="mi" [routerLink] = "['/students']">View Students' Data</button> <button class="mi" [routerLink] = "['/stats']">View Placement Stats</button></p>

    <!-- <h3><br><br>Alloted Firms</h3>
    <table mat-table [dataSource]="companies">
      <ng-container matColumnDef='company_id'>
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.company_id}} </td>
      </ng-container>
      <ng-container matColumnDef='company_name'>
        <th mat-header-cell *matHeaderCellDef> Company Name </th>
        <td mat-cell *matCellDef="let element"><a [routerLink] = "['/companies' , element.company_id]">{{element.company_name}}</a></td>
      </ng-container>
      <ng-container matColumnDef='company_origin'>
        <th mat-header-cell *matHeaderCellDef> Country of Origin </th>
        <td mat-cell *matCellDef="let element"> {{element.company_origin}} </td>
      </ng-container>
    </table> -->
    <h3><br><br>Alloted Firms</h3>
    <table>
      <tr>
        <td>ID</td>
        <td>Company Name</td>
      </tr>
      <tr *ngFor="let m of companies">
        <td>{{m.company_id}}</td>
        <td><a [routerLink] = "['/firms/' , m.company_id]">{{m.company_name}}</a></td>
      </tr>
    </table>
    
    <h3><br><br><br>Active JAFs</h3>
    <table>
      <tr>
        <td>JAF ID</td>
        <td>Job Role</td>
        <td>Company</td>
        <td>Opened On</td>
        <td>Closing On</td>
      </tr>
      <tr *ngFor="let m of open_jafs | paginate: { itemsPerPage: count, currentPage: p }">
        <td><a [routerLink] = "['/jafs/', m.jaf_id, '/view']">{{m.jaf_id}}</a></td>
        <td>{{m.jaf_title}} ({{m.profile_name}})</td>
        <td>{{m.company_name}}</td>
        <td>{{m.jaf_opened_on}}</td>
        <td>{{m.jaf_closed_on}}</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td colspan="3"><pagination-controls class="test" (pageChange)="p = $event"></pagination-controls></td>
      </tr>
    </table>
    <br>

</div>