<div class="container">
    <h1>Students' Data</h1>
    <h3>Information and Statistics</h3>
    <table>
      <tr>
        <td>Roll Number</td>
        <td>Student Name</td>
      </tr>
      <tr *ngFor="let m of student | paginate: { itemsPerPage: count, currentPage: p }">
        <td>{{m.student_rno}}</td>
        <td>
            <br>
            <a [routerLink] = "['/students/' , m.student_rno]"> 
            {{m.student_name}}<br>
            </a>
            <p>
                <a [routerLink] = "['/progs/' , m.program_id]">{{m.program_name}}</a> <a [routerLink] = "['/depts/' , m.department_id]">{{m.department_name}}</a><br>
                {{m.student_email}}
            </p>          
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <pagination-controls class="test" (pageChange)="p = $event"></pagination-controls>
        </td>
      </tr>
    </table>
  </div>