<div class="container">
    <h1>Students' Data</h1>
    <h3>Information and Statistics</h3>
    <table>
      <tr>
        <td>Roll Number</td>
        <td>Student Name</td>
        <td>Program Name</td>
        <td>Department Name</td>
      </tr>
      <tr *ngFor="let m of student | paginate: { itemsPerPage: count, currentPage: p }">
        <td>{{m.student_rno}}</td>
        <td>
            <a [routerLink] = "['/students/' , m.student_rno, 'home']"> 
            {{m.student_name}}            </a>
          </td>
          <td>
                <a [routerLink] = "['/progs/' , m.program_id]">{{m.program_name}}</a>
          </td>      
          <td>
                <a [routerLink] = "['/depts/' , m.department_id]">{{m.department_name}}</a>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <pagination-controls class="test" (pageChange)="p = $event"></pagination-controls>
        </td>
      </tr>
    </table>
  </div>