<div class="container">
    <h1>{{this.company.company_name}}</h1>
    <table>
        <tr class="c">
          <td colspan="2"><strong class="d">Company ID :</strong> {{this.firm_id}}</td>
        </tr>
        <tr class="c">
          <td colspan="2"><strong class="d">Country of Origin :</strong> {{this.company.company_origin}}</td>
        </tr>
    </table>

    <h3><br><br>Recruiters</h3>
    <table>
      <tr>
        <td>ID</td>
        <td>Recruiter Name</td>
        <td>Email Address</td>
        <td>Contact No.</td>
    </tr>
      <tr *ngFor="let m of recruiters">
        <td>{{m.recruiter_id}}</td>
        <td>{{m.recruiter_name}}</td>
        <td>{{m.recruiter_email}}</td>
        <td>{{m.recruiter_contact}}</td>
      </tr>
    </table>
    
    <h3><br><br><br>Created JAFs</h3>
    <table>
      <tr>
        <td>
          JAF ID
        </td>
        <td>Job Role</td>
        <td>Company</td>
        <td>Opened On</td>
        <td>Closing On</td>
        <td>Actions</td>
      </tr>
      <tr *ngFor="let m of jafs; let i=index">
        <td>{{m.jaf_id}}</td>
        <td><a  [routerLink] = "['/firms/', this.firm_id, '/jafs/', m.jaf_id, '/view']">{{m.jaf_title}} ({{m.profile_name}})</a></td>
        <td>{{m.company_name}}</td>
        <td>{{m.jaf_opened_on}}</td>
        <td>{{m.jaf_closed_on}}</td>
        <td>
          <button class="ni" [routerLink] = "['/firms/' , this.firm_id, '/jafs/', m.jaf_id, '/edit']">Edit JAF</button><button class="ni" (click)="deleteJaf(m.jaf_id)">Delete JAF</button>
          <button class="ni" [routerLink] = "['/firms/' , this.firm_id, '/jafs/', m.jaf_id, '/applicants']">View Applicants</button><button class="ni" [routerLink] = "['/firms/', this.firm_id, '/jafs/', m.jaf_id, '/slot']">Assign Slot</button>
        </td>
      </tr>
    </table>
    <br>

</div>