<div class="container">
    <h1>Slot for JAF {{jaf_id}}</h1>
</div>
<div class="container" *ngIf="slot != null">
    <h3>Slot assigned is {{slot}}.</h3>
</div>
<div class="container" *ngIf="slot == null">
    <h3>Slot is not assigned yet.</h3>
</div><br><br>

<form novalidate [formGroup]="user">
    <div class="two">
      <label class="one">
          <span>Slot :</span><br>
      </label>
          <input class="one"
          [(ngModel)]="updatedSlot"
          type="text"
          placeholder="{{slot}}"
          formControlName="updatedSlot">
    </div>
  <p><button class="ni" (click)="onSubmit()">Submit</button></p>
  <p><button class="mi" [routerLink] = "['/coordinators/', this.coordinator_id, '/home']">Home</button></p>
</form>